.final-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fce4ec; /* Coincide con el color de fondo principal */
}

.final-message-text {
  font-family: 'Georgia', serif;
  font-size: 2em;
  color: #ff69b4; /* El color principal de amor */
  text-align: center;
  /* Animación simple de entrada para que no sea estático */
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}